<h1 class="h1archs">Dê seu feedbacks sobre os arcos:</h1>
<div class="archs">
        <div class="content">
            <img src="/img/wanof.jpg" alt="Arco de Wano">
            <h3>Wano</h3>
            <a href="/archs/wano" class="btn" id="wano">Comentar</a>
        </div>

        <div class="content">
            <img src="/img/whole.jpg" alt="Whole cake">
            <h3>Whole Cake</h3>
            <a href="#" class="btn" id="whole">Comentar</a>
        </div>

        <div class="content">
            <img src="/img/marineford.jpg" alt="Marineford">
            <h3>Marineford</h3>
            <a href="#" class="btn">Comentar</a>
        </div>


        <div class="content">
            <img src="/img/east.jpg" alt="East Blue">
            <h3>East Blue</h3>
            <a href="#" class="btn">Comentar</a>
        </div>

     
    </div>