<div class="dashboard">
    <h2>Pensamento Geral</h2>
    <p>Pense sobre qualquer coisa relacionada a One Piece, teorias.</p>

    <h2>Comentar Arcos</h2>
    <p>Feedbacks apenas para arcos de One Piece</p>

    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/op/toughts/general" class="btn">Criar Pensamento Geral</a>
        <a href="/op/toughts/archs" class="btn">Comentar Arcos</a>
    </div>

    <h3>Seus Pensamentos:</h3>

    {{#if toughts}}
    <ul class="thought-list">
        {{#each toughts}}
        <li class="thought-item">
            <div class="thought-content">
                <span class="label">Título: {{this.title}}</span>
                <p class="content">Conteúdo: {{this.content}}</p>
            </div>
            <div class="actions">
                <a href="/op/toughts/edit" class="btn">Editar</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Você ainda não tem pensamentos</p>
    {{/if}}
</div>
