<div class="tought-form-container">

<h1>Criar pensamento geral</h1>
<form action="/op/toughts/general" method="POST">
    <div class="form-control">
        <label for="title">Digite um titulo</label>
        <input type="text" name="title">
    </div>

    <div>
        <label for="content">Conteudo:</label>
        <textarea name="content"></textarea>
    </div>
    
    <input type="submit" value="Enviar">
</form>
<a href="/op/toughts/dashboard">Voltar</a>
</div>
